@media (max-width: 600px) {
  .hidden--mobile {
    display: none !important;
  }
}

html {
  background-color: #9a8c9894;
  font-family: 'Lexend Zetta', sans-serif;
}

/* .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr 0.8fr;
  grid-template-rows: 0.7fr 1.3fr 1fr;
  gap: 0px 0px;
}
.headerGrid {
  grid-area: 1 / 1 / 2 / 5;
}

.navBar {
  grid-area: 2 / 4 / 4 / 5;
}

.mainBody {
  grid-area: 2 / 1 / 4 / 4;
} */

header {
  padding-left: 20px;
  padding-top: 10px;
  text-shadow: 2px 2px black;
  background-image: url(https://i.imgur.com/zwtpOfg.jpg);
  background-size: cover;
}

h1 {
  display: flex;
  justify-content: flex-start;
  color: #F2E9E4;
}

h2 {
  color: #C9ADA7;
}

h3 {
  display: flex;
  justify-content: center;
  color: #F2E9E4;
  padding: 20px;
  font-size: x-large;
}
h4 {
  justify-content: center;
  color:#4a4e69;
  text-align: center;
  text-shadow: 2px 2px rgb(156, 152, 152);
}

a {
  color:#4a4e69;
  text-decoration: none;
  font-weight: bolder;
}

a:visited {
  color: #22223B;
}

nav {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

nav > i {
  padding: 1rem;
  font-size: 2em;
}

nav > ul {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 0 0;
}

nav > ul > li {
  padding: .5rem;
  list-style-type: none;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  padding-right: 20px;
}

nav > ul > li {
  display: inline-block;
  text-decoration: none;
  padding: .5rem .5rem;
}

@media (min-width: 600px) {
  nav > .fa-bars {
    display: none;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px grey;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #22223B;
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  padding: 20px;
}

form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #22223B;
  padding-bottom: 100px;
  width: 100%;
}

textarea {
  width: 100%;
}

.submit {
  display: flex;
  justify-self: center;
}

#register {
  padding-top: 100px;
}

footer {
  color: #F2E9E4;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 50px;
  text-shadow: 2px 2px grey;
}
