@media (max-width: 600px) {
  .hidden--mobile {
    display: none !important;
  }
}

/* .gai {
  visibility: hidden;
} */

html {
  background-color: #9A8C98;
  font-family: 'Lexend Zetta', sans-serif;
}

h1 {
  color: #F2E9E4;
  text-align: left;
  opacity: 0.75;
}

h2 {
  color: #C9ADA7;
  text-align: left;
  opacity: 0.75;
}

h3 {
  color: #4A4E69;
  text-align: center;
  padding: 20px;
  font-size: larger;
}
h4 {
  color:#4a4e69;
  text-align: center;
}

nav {
  color: #4A4E69;
  padding: 20px;
}

nav,
ul {
  list-style-type: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 5px grey;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #22223B;
  text-align: center;
  font-weight: bolder;
  padding: 20px;
}

footer {
  color: #F2E9E4;
  text-align: center;
}
